* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: $font-size;
    font-family: 'Inter', sans-serif;
    background-color: $main-background;
    color: $heading-stats;
}

    .container {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6%;
        
    }

    .main {
        //background-color: $card-background;
        display: flex;
        flex-direction: column;
        width: 85%;
        height: auto;
        border-radius: 1rem;
    }

    .text-stats {
        display: flex;
        flex-direction: column;
        text-align: center;
        order: 2;
        padding: 10%;
        border-radius: 0 0 0.5rem 0.5rem;
        background-color: $card-background;

        h1 {
            color: $heading-stats;
            font-size: 1.6rem;
            line-height: 1.8rem;
            letter-spacing: 0.6px;
            margin-bottom: 1rem;

            span {
                color: $accent;
            }
        }

        .text {
            color: $main-paragraph;
            font-family: 'Lexeca Deca', sans-serif;
            font-size: $font-size;
            line-height: 1.5rem;
            margin-bottom: 2rem;
        }

        #stats {
            
            dt {
                color: $heading-stats;
                font-size: 1.3rem;
                font-weight: bolder;
                margin-bottom: 0.2rem;
            }

            dd {
                text-transform: uppercase;
                font-size: 0.7rem;
                color: $stat-heading;
                font-weight: bold;
                letter-spacing: 0.5px;
                margin-bottom: 1.2rem;
            }

        }
        
    }

    .img-side {
        display: flex;
        order: 1;
        border-radius: 1rem 1rem 0rem 0rem;
        background-color: $accent;
    }

    .img-mobile {
        background-color: $accent;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        opacity: 0.70;
        mix-blend-mode: multiply;
    }

    .img-desktop {
        display: none;
    }

@media (min-width: 900px) {

    * {
        box-sizing:border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container {
    
    }
    
    .main {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        
        

        .text-stats {
            order: 1;
            text-align: left !important;
            padding: 7% 8% 2% 6%;
            width: 50%;
            border-radius: 0.5rem 0 0 0.5rem;

            .title {
                font-size: 2.2rem;
                letter-spacing: 0.6px;
                line-height: 2.4rem;
                margin-bottom: 1.8rem;
            }
            
            .text {
                letter-spacing: 0.4px;
                font-size: 1rem;
                margin-bottom: 4rem;
            }

            #stats {
                display: flex;
                flex-flow: column wrap;
                max-height: 4.5rem;
                width: 100%;
                margin-top: 1rem;

                dt {
                    font-size: 1.4rem;
                    
                }

                dd {
                   margin-top: 5px;
                   letter-spacing: 1px;
                }
            }
        }

        .img-side {
            order: 2;
            width: 50%;
            border-radius: 0 0.5rem 0.5rem 0;
            

            .img-mobile {
                display: none;
            }

            .img-desktop {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 0 0.5rem 0.5rem 0;
                mix-blend-mode: multiply;
                opacity: 0.70;
            }
        }
        
    }
}



